.labelabsensiswa {
    margin-left: 100px;
    margin-right: 100px;
}

.jamabsensiswa {
    margin-left: 100px;
    margin-right: 100px;
}

.ketabsensiswa {
    margin-left: 100px;
    margin-right: 100px;
}

.absensiswa{
    margin-left: 100px;
    
    margin-right: 100px;
}