.labelabsensiswa {
    margin-left: 220px;
    margin-top: 50px;
}

.jamabsensiswa {
    margin-left: 100px;
}

.ketabsensiswa {
    margin-left: 100px;
    margin-right: 100px;
}

.absensiswa{
    margin-left: 100px;
}