.labelabsen {
    margin-left: 100px;
    margin-right: 100px;
}

.jamabsen {
    margin-left: 100px;
    margin-right: 100px;
}

.ketabsen {
    margin-left: 100px;
    margin-right: 100px;
}

.butoonabsen{
    margin-left: 100px;
    margin-right: 100px;
}

