
.warnaa3 {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}

.warnaa3:hover {
    background-color: #198754 !important;
    color: aliceblue !important;
}

.bakronnn .nav-link.active {
    background-color: #198754 !important;
    color: aliceblue !important;
}