.logoNav1 {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: -5px;
}

.loguser2 {
  width: 40px;
}

.navgur {
  background-color:  	rgb(25, 135, 84)  !important;
  color: white !important;
}

.navgur a {
  transition: 0.3s
}

.navgur a:hover {
  color: rgb(194, 194, 194) !important;
  transition: 0.3s
}

.navgur .dropdown-toggle, .navgur .nav-link {
  color: white !important;
}
