.logoNav1 {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -5px;
  }
  
  .loguser2 {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .logout4 {
    margin-left: 10px;
    margin-right: -40px;
  }
  
  .logoutg {
    width: 40px;
  }
  
  .cont {
    height: 50px;
    width: 50px;
    margin-right: 125px;
    padding: 5px;
  }

  
  .jamT {
    width: 150px;
    height: 50px;
  }
  
  .color {
    color: white;
  }
  
  .me13 {
    margin-left: 30px;
  }

  .navgur {
    background-color:  	rgb(25, 135, 84)  !important;
    color: white !important;
  }


