.tambahruang {
    margin-left: 100px;
    margin-top: 20px;
}

.labeltambahkelas {
    margin-left: 210px;
    margin-top: 50px;
}

.kelasV {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.kelasVir {
    margin-top: 30px;
    margin-left: 10px;
}

.kelasVir2 {
    margin-top: 30px;
    margin-left: 90px;
}