.logoNav {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: -5px;
}

.loguser {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logout2 {
  margin-left: 10px;
  margin-right: -25px;
}

.logoutg {
  width: 40px;
}


.color {
  color: white;
}

.me12 {
  margin-left: 20px;
}