.logoNav {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: -5px;
}

.loguser {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logout2 {
  margin-left: 10px;
  margin-right: -25px;
}

.logoutg {
  width: 40px;
}


.color {
  color: white;
}

.me12 {
  margin-left: 20px;
}

.navsis {
  background-color: #FFC107 !important;
  color: white !important;
}

.linknav {
  
}
